
<%= render :partial => "newhires/newhirename" %>

<%= form_for @newhirecourse do |f| %>
	<div class="info round">
		
		<fieldset class="round">
			<legend>To Teach:</legend>
		<p>
			<strong>Course Prefix and Number:</strong> <%= text_field_tag 'course_name' %>
		</p>
		<p>
			<strong>Course title:</strong> <%= text_field_tag 'course_title' %>
		</p>
		<p>
			<strong>Brief Course Description:</strong><br>
				 <%= text_area_tag 'course_description' %>
		</p>
		<p>
			Click <%= f.submit 'Add', :id => "Add" , :disabled => current_user.ro %> to save this course.
		</p>
	</div>

	<% if @newhire_courses_added.count > 0 %>

		<fieldset class="round">
			<legend>Courses Added:</legend>
	
				<p>
				<strong>The following courses have already been added:</strong><br>
					<% @newhire_courses_added.each do |ca| %>
		    			<br>
		 				<%=  ca.name %> 
		 				<%=  ca.title.humanize %> 
		 				<%=  ca.description.humanize %> <br>
		 				
		 			<% end %>	


				<p>
					<br>
	   </fieldset>

		Click <%= f.submit 'Continue', :id => "Continue" %> to finish this section and continue precredentialing.





	<% end %>
<% end %>