
<%#= @newhire.details %> <br>

<div id="wrapper">
	<div id="middle">
		<div id="container">

			<%= form_for @newhirecourse do |f| %>
				
				<%= hidden_field_tag 'newhire_id', @newhire.id %>
					<div id="content">
							<fieldset class="round">
								<legend>To Teach:</legend>
								<table  class="no-zebra no-hover">
									<tr>
										<td><strong>Course Prefix and Number:</strong></td>
										<td> <%= text_field_tag 'course_name' %></td>
									</tr>

									<tr>
										<td><strong>Course title:</strong> </td>
										<td><%= text_field_tag 'course_title' %></td>
									</tr>


									<tr>
										<td><strong>Brief Course Description:</strong></td>
										<td><%= text_area_tag 'course_description' %></td>
									</tr>

									<tr>
										<td colspan="2">
											&nbsp;
										</td>
									</tr>	
									<tr>
										<td colspan="2">
										Click <%= f.submit 'Add', :id => "Add" , :disabled => current_user.ro %> to save this course.</p>
									</tr>
								</table>
							</fieldset>
						</div>

					<% if @newhire_courses_added.count > 0 %>
						<br>
							<div id="content">
								<fieldset class="round">
									<legend>Courses Added:</legend>
										<table  class="no-zebra no-hover">
											<th>Course Prefix and Number:</th>
											<th>Course title:</th>
											<th>Brief Course Description:</th>
																						
												<% @newhire_courses_added.each do |ca| %>
									    			<tr>
									    				<td><%=  ca.name %> </td>
									    				<td><%=  ca.title.humanize %></td>
									    				<td><%=  ca.description.humanize %></td>
									    			</tr>
									 			<% end %>
									 		
											
										</table>
							   </fieldset>

								Click <%= f.submit 'Continue', :id => "Continue" %> to finish this section and continue precredentialing.
							</div>
					<% end %>
			<% end %>

		</div><!-- #container-->


		<div class="sidebar" id="sideLeft" style=" -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;">
    		<%= @newhire.details %>
    	</div>

	</div><!-- #middle-->
</div><!-- #wrapper -->