
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
      	 <div class="well sidebar-nav"  style="background-color:#fcf8e3;">
            <ul class="nav nav-list">
              <li class="nav-header">Instructor Info:</li>
              <!--<li class="active"><a href="#">Link</a></li>-->
              <li><strong>Firstname:</strong> <%= @newhire.first_name %> </li>
              <li><strong>Lastname:</strong> <%= @newhire.last_name %></li>
              <li><strong>School:</strong> <%= @newhire_dept.school.description %></li>
              <li><strong>Department:</strong> <%= @newhire_dept.name %></li>

            </ul>
          </div><!--/.well -->
    </div>
    <div class="span9">
      <!--Body content-->
     			<%= form_for @newhirecourse do |f| %>
				<%= hidden_field_tag 'newhire_id', @newhire.id %>
      				<fieldset class="round">
							<legend>To Teach:</legend>
							<label>Course Prefix and Number:</label>
							 <%= text_field_tag 'course_name' %>
							

							<label>Course title:</label>
								<%= text_field_tag 'course_title' %>


							<label>Brief Course Description:</label>
							<%= text_area_tag 'course_description', '' , :class => 'ckeditor' %>

							<br>
							Click <%= f.submit 'Add', :id => "Add" , :class => 'btn btn-small btn-primary' %> to save this course.</p>
							
							   <br>
								Click <%= submit_tag 'Done', :id => "Done", :class => 'btn btn-small btn-warning' %> to finish this section.
					</fieldset>
     <% end %>

     <br>

				<% if @newhire_courses_added.count > 0 %>
				<br>
					
						<fieldset class="round">
							<h4>Courses Added:</h4>
								<table  class="table">
									<th>Course</th>
									<th>Title</th>
									<th>Description</th>

										<% @newhire_courses_added.each do |ca| %>
							    			<tr>
							    				<td><%=  ca.name %> </td>
							    				<td><%=  ca.title.humanize %></td>
							    				<td><%=  ca.description.humanize.html_safe %></td>
							    			</tr>
							 			<% end %>


								</table>
					   </fieldset>

					
			<% end %>


    </div>
  </div>
</div>
