<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
      	 <%= render 'newhires/instructorinfo_basic' %>
    </div>
    <div class="span9">    	
				<fieldset class="round">
					<legend>To Teach:</legend>
					<%= form_for(@newhirecourse) do |f| %>
			
						 <%= hidden_field_tag 'source', 'New' %>
						 <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>

						
							<label>Course Prefix and Number:</label>
								 <%= text_field_tag 'course_name' %>
							

							<label>Course title:</label>
								<%= text_field_tag 'course_title' %>


							<label>Brief Course Description:</label>
							<%= text_area_tag 'course_description', '' , :class => 'ckeditor' %>
							
							<br>
							Click <%= f.submit 'Add', :id => "Add" , :class => 'btn btn-small btn-primary' %> to save this course.</p>
							
							   <br>
								Click <%= submit_tag 'Done', :id => "Done", :class => 'btn btn-small btn-warning' %> to finish this section.
					<% end %>
				</fieldset>

		<br>

	
	    <% if @newhire_courses_added.count > 0 %>
						<br>
							<div id="content">
								<fieldset class="round">
									<legend>Courses Added:</legend>
										<table  class="no-zebra no-hover">
											<th>Course:</th>
									<th>Title:</th>
									<th>Description:</th>

										<% @newhire_courses_added.each do |ca| %>
							    			<tr>
							    				<td><%=  ca.name %> </td>
							    				<td><%=  ca.title.humanize %></td>
							    				<td><%=  ca.description.humanize.html_safe %></td>
							    			</tr>
							 			<% end %>


										</table>
							   </fieldset>

							</div>
					<% end %>


    </div>
		</div>
  	</div>
</div>
