<%= @newhire.details %> <br>

<%= form_for(@newhirecourse) do |f| %>
	
		 <%= hidden_field_tag 'source', 'New' %>
		 <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>

		<fieldset class="round">
			<legend>To Teach:</legend>
			<table  class="no-zebra no-hover">
				<tr>
					<td><strong>Course Prefix and Number:</strong></td>
					<td> <%= text_field_tag 'course_name' %></td>
				</tr>

				<tr>
					<td><strong>Course title:</strong> </td>
					<td><%= text_field_tag 'course_title' %></td>
				</tr>


				<tr>
					<td><strong>Brief Course Description:</strong></td>
					<td><%= text_area_tag 'course_description' %></td>
				</tr>

				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>	
				<tr>
					<td colspan="2">
					Click <%= f.submit 'Add', :id => "Add" , :disabled => current_user.ro %> to save this course.</p>
				</tr>
			</table>
		</fieldset>
	
<% end %>