
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
      <%= render 'newhires/instructorinfo_basic' %>        
    </div>
    <div class="span9">
      <!--Body content-->
     		
					<fieldset class="round">
						<h4>Documents:</h4>
							<table  class="table table-striped">
								<tr>
								<td colspan="2"><strong>The following documents are required by the Provost's office:</strong></td>
								</tr>
								
									<% Newhiredoctype.all.each do |dt| %>
					    				<tr>
					 						<td><%=  dt.name.humanize %></td>
					 						<td>
					 							<% if dt.id != 1 %>
						 							<%= link_to image_tag('/assets/Upload_16x16.png'),
							 						{:controller => 'newhiredocuments', :action => 'uploadform', :doc_type => dt.id, :newhire_id => params[:newhire_id], :course_id => params[:course_id]}, 
				        							:onClick=>"window.open(this.href,'Details','height=500, width=600'); return false;" ,
				        							:title => 'Upload', :rel => 'tooltip'%>
				        						<% end %>
			        						</td>
					 					</tr>
									<% end %>		

								<!--
								<tr>
									<td colspan="2">Click
			<input type="button" name="Continue" value="Contine"  onclick="window.location.href='newhirecredentials'">
			to finish this section and continue precredentialing.</td>
								</tr>
							-->
							</table>
					</fieldset>
			


				 <% if @newhire_docs_added.count > 0 %>
			
				 <fieldset class="round">
					<h4>Documents uploaded:</h4>
						<table  class="table table-striped">
							<th>Name</th>
							<th>Location</th>
							<th>Type</th>
							<% @newhire_docs_added.each do |d| %>
				    			<tr>
					    			<td><%=  d.name %></td>  
				 					<td><%=  d.location %></td>  
				 					<td>
				 						<%= d.newhiredoctype.name %>
			 						
				 					</td> 
				 				</tr>
				 			<% end %>	
						</table>
				</fieldset>
			
		<% end %>

			
		Click
			<input type="button" class="btn btn-small btn-primary" name="Continue" value="Contine"  onclick="window.location.href='newhires/review_course?id=<%= params[:course_id]%>&newhire_id=<%= params[:newhire_id] %>'">
			to finish the upload process.
		
    </div>
  </div>
</div>


