<%#= @newhire.details %> <br>

<div id="wrapper">
	<div id="middle">
		<div id="container">



				<div id="content">		
					<fieldset class="round">
						<legend>Documents:</legend>
							<table  class="no-zebra no-hover">
								<tr>
								<td><strong>The following documents are required by the Provost's office:</strong></td>
								</tr>
								
									<% Newhiredoctype.all.each do |dt| %>
					    				<tr>
					 						<td><%=  dt.name.humanize %></td>
					 						<td><%= link_to image_tag('/assets/Upload_16x16.png'),
						 						{:controller => 'newhiredocuments', :action => 'uploadform', :doc_type => dt.id, :newhire_id => params[:newhire_id], :course_id => params[:course_id]}, 
			        							:onClick=>"window.open(this.href,'Details','height=500, width=600'); return false;" 
										%></td>
					 					</tr>
									<% end %>		

								<!--
								<tr>
									<td colspan="2">Click
			<input type="button" name="Continue" value="Contine"  onclick="window.location.href='newhirecredentials'">
			to finish this section and continue precredentialing.</td>
								</tr>
							-->
							</table>

				</div>

       <% if @newhire_docs_added.count > 0 %>
			<div id="content">	
				 <fieldset class="round">
					<legend>Documents uploaded:</legend>
						<table  class="profile">
							<th>Name</th>
							<th>Location</th>
							<th>Type</th>
							<% @newhire_docs_added.each do |d| %>
				    			<tr>
					    			<td><%=  d.name %></td>  
				 					<td><%=  d.location %></td>  
				 					<td>
				 						<%= d.newhiredoctype.name %>
			 						
				 					</td> 
				 				</tr>
				 			<% end %>	
						</table>
				</fieldset>
			</div>
		<% end %>

		<div id="content">	
		Click
			<input type="button" name="Continue" value="Contine"  onclick="window.location.href='newhirecredentials'">
			to finish this section and continue precredentialing.
		</div>



</div><!-- #container-->


		<div class="sidebar" id="sideLeft" style=" -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;">
    		<%= @newhire.details %>
    	</div>

	</div><!-- #middle-->
</div><!-- #wrapper -->