<h1>Sup newhiredocuments</h1>
views/newhiredocuments/index.html.erb

<%= form_for @newhiredocument do |f| %>
	<div class="info round">
		
		<fieldset class="round">
			<legend>Documents:</legend>
	
				<p>
				<strong>The following documents have been submitted to the Provost's office:</strong><br>
					<% Newhiredoctype.all.each do |dt| %>
		    			<br><%= check_box_tag  'newhiredoctype_ids[]', dt.id %>
		 				<%=  dt.name.humanize %> 

		 				<%#=link_to "[upload]", uploadform_newhiredocuments_path(:doc_type => dt.id), :id => 'my-link' %>


		 				<%= link_to "[upload]", 
			 						{:controller => 'newhiredocuments', :action => 'uploadform', :doc_type => dt.id}, 
        							:onClick=>"window.open(this.href,'Details','height=800, width=600'); return false;" 
							%>

					<% end %>	


				<p>
					<br>
				

	</div>

	Click <%= f.submit 'Save and Continue', :id => "Continue", :disabled => current_user.ro %> to finish this section and continue precredentialing.


<% end %>