<h1>Sup newhiredocuments</h1>
views/newhiredocuments/index.html.erb

<%= form_for @newhiredocument do |f| %>
	<div class="info round">
		
		<fieldset class="round">
			<legend>Documents:</legend>
	
				<p>
				<strong>The following documents have been submitted to the Provost's office:</strong><br>
					<% Newhiredoctype.all.each do |dt| %>
		    			<br><%= check_box_tag  'newhiredoctype_ids[]', dt.id %>
		 				<%=  dt.name.humanize %> 

		 				<%#=link_to "[upload]", '/newhiredocuments/showuploadform', :doc_type => dt.id %>

		 				<%= form_for :file_upload,:url => '/precredentialing/file_upload',:html => {:name => "upload_#{dt.id}", :multipart => true} do |g| %>
						  <%= g.file_field :filename %>
						  <%= hidden_field_tag 'newhiredoctype_id', dt.id%>
						  <%= g.submit "Upload" %>
						<% end %>

		 			<% end %>	


				<p>
					<br>
				

	</div>

	Click <%= f.submit 'Save and Continue', :id => "Continue", :disabled => current_user.ro %> to finish this section and continue precredentialing.
<% end %>