<div class="container-fluid">
  <div class="row-fluid">
    
   <div class="span3">
      <!--Sidebar content-->
      <%= render 'newhires/instructorinfo_basic' %>        
    </div>   

    <div class="span9">
      <!--Body content-->
     <%= form_for @newhirecredits , :url => '/newhirecredits'  do |f| %>
		<fieldset class="round">
			<h4>
				Add Relevant Coursework: 
			</h4>
						
				<%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
                <%= hidden_field_tag 'course_id', params[:course_id] %>
				<%= hidden_field_tag 'source', 'New' %>

				<table class="table table-striped">
					<tr>	
						<th>Course ID (ex: CDA 6031)</th>
						<th>Course Name (ex: Data Mining)</th>
						<th>Course Year (ex: 1995)</th>
						
					</tr>
					<tr>
						<td><%= f.text_field :course_name, :class => "text" %></td>
						<td><%= f.text_field :course_description,  :class => "text"  %></td>
						<td><%= f.text_field :course_year,  :class => "text"  %></td>
						
						
					</tr>
					<tr>
						<td>

							<strong>Course Credits (ex: 3)</strong><br>
							
							<%= f.text_field :course_credits, :class => "text" %>
						</td>
						<td>
							<strong>Semester/Quarter</strong><br>
							<%= f.radio_button :semester_credits, "1" %> Semester<br/>
							<%= f.radio_button :semester_credits, "0" %> Quarter<br/>
						</td>
						<td>
							<strong>Institution:</strong><br>
							<%= collection_select(:newhirecredit,
												   :newhireinstitution_id,		   
												   @newhireinstitutions,
												   :id,
												   :name,
												    :prompt => true
													)%> 
						</td>
					</tr>
					<tr>
				    	<td colspan="5"> 	
				    		<br>
				 			Click <%= f.submit 'Add', :id => "Add" , :disabled => current_user.ro, :class => 'btn btn-small btn-primary' %> to save this course.<br/><br/>

				 				<!--
									Click <%= f.submit 'Done', :id => "Done", :disabled => current_user.ro,  :class => "btn" %> to complete this credential.
								-->
					 			</td>
				 			
				 		</td>
			 		</tr>			
				</table>
			
			</fieldset>
		<% end %>
 			
 			<%# if false %>
					<% if @newhire_credits_added.count > 0 %>
						<br>
						<fieldset class="round">
							<h4>Existing Coursework:</h4>
							<table class="table table-striped">
							<th>Course ID</th>
							<th>Course Name</th>
							<th>Course Year </th>
							<th>Institution</th>
							<th>Credits</th>
							<th>Credit Type</th>
							
							<% @newhire_credits_added.each do |cr| %>
								<tr>
									<td><%=  cr.course_name %> </td>
									<td><%=  cr.course_description %> </td>
									<td><%=  cr.course_year %> </td>
									<td><%=  cr.newhireinstitution.name %></td>
									<td><%=  cr.course_credits %> </td>
									 <td>                                  
	                                   <% if cr.semester_credits %>
	                                      semester
	                                  <% else %>
	                                      quarter
	                                  <% end %>
	                                </td>
								</tr>
							<% end %>
								 <tr>
                              <td colspan="7">
                                <div align="right">
                                  <strong>Total Semester Hours: <%= @total_credits.to_s  %></strong>
                                </div>
                              </td>
                            </tr>
							</table>
					   </fieldset>


					<% end %>
		   <%# end %>
    </div>
  </div>
</div>
