<fieldset class="round" >
	<legend> New Hires:</legend>
		New Hire Count: <%= @newhire_count %>
		<% if @newhires.nil? || @newhires.count == 0 %>
			<div class="error round">
		  			<center>No New Hires Available</center>
		  	</div>

		<% else %>
				<table class="profile">
				  <th>Lastname</th>
				  <th>First</th>
				  <th>School</th>
				  <th>Department</th>
				  <th>Status</th>
				  <th>Actions</th>
				    <% @newhires.each do |newhire| %>
						  <tr>
						  	<td><%= newhire.last_name %></td>
						  	<td><%= newhire.first_name %></td>
						  	<td><%= newhire.school_name %></td>
						  	<td><%= newhire.dept_name %></td>
						    <td> N/A</td>
						  	<td>
						  		<%#= link_to '[Edit]', edit_newhire_path(newhire) %>
						  		<%#= link_to '[View]', newhiredetails_path(newhire) %>
						  		<%= link_to image_tag('/assets/Edit_16x16.png'), newhiredetails_path(newhire) %>
						  		<%= link_to image_tag('/assets/Preview_16x16.png'), newhireshowcourses_path(newhire) %>
						  		<%#= link_to image_tag('/assets/Send_16x16.png'), newhireshowcourses_path(newhire) %>
						  		<%= link_to image_tag('/assets/Send_16x16.png'), newhire_send_review_email_path(:newhire_id => newhire.id), confirm: 'Are you sure you would like to notify the review team about this new instructor?', %>

						  	</td>
						  </tr>
					  <% end %>
				</table>  
		<% end %>

</fieldset>