<fieldset class="round">
	<h4>
		<%= link_to image_tag('/assets/Add_16x16.png'),  newhires_review_msg_path(:newhire_id => @newhire.id, :course_id => params[:id]), 
            :title => 'Send an Email Notification', :rel => 'tooltip' %> Notifications:
	</h4>

		
	<table class="table table-condensed">
		<% if @newhire_messages_added.count == 0%>		
			<div class="alert alert-info">
				 <div align="center">No notification messages received</div>
			</div>			
		<% else %>			
			<th>From</th>
			<th>To</th>
			<th>Message</th>
			<th>Created on</th>
			
			<% @newhire_messages_added.each do |msg| %>
				<tr>
					<td><%= msg.from %></td>
					<td><%= msg.to %></td>
					<td><%= msg.body.html_safe %></td>
					<td><%= msg.created_at.strftime('%m/%d/%Y %l:%M %P') %></td>
				</tr>
			<% end %>		
		<% end %>
	</table>
</fieldset>
			