<div class="wrapper">
    <div class="wrapleft"> 	  
	    <div class="left">
	        <fieldset class="round">
			<legend>Instructor Info:</legend>
				<table  class="profile">					
	    			<tr>
	    				<td>Firstname:</td> 
	    				<td><%= @newhire.first_name %></td>
	    			</tr>
	    			<tr>
	    				<td>Middlename:</td>
	    				<td><%= @newhire.middle_name %></td>
	    			</tr>
	    			<tr>
	    				<td>Lastname:</td>
	    				<td><%= @newhire.last_name %></td>
	    			</tr>
	    			<tr>
	 					<td>School:</td> 	 
	 					<td><%= @newhire_dept.school.description %></td>					
	 				</tr>
	    			<tr>	
	 					<td>Department:</td>
	 					<td><%= @newhire_dept.name %></td>
	 				</tr>	
	 				
	 				<tr>
	 					<td>Status:</td> 	 
	 					<td>PENDING</td>					
	 				</tr>			 			
				</table>
			</fieldset>
	    </div>
	</div>    
	    
	    <div class="right">
	        <fieldset class="round">
			<legend>Courses To Teach:</legend>
				<table  class="profile">
					<th>Prefix & Number</th>
					<th>Title</th>
					<th>Description</th>
						<% @newhirecourses.each do |ca| %>
			    			<tr>
			    				<td><%=  ca.name %></td> 
			 					<td><%=  ca.title.humanize %></td>
			 					<td><%=  ca.description.humanize %></td> 	 					
			 				</tr>
			 			<% end %>
				</table>
			</fieldset>
	    </div> 

	    <div class="right">	        
	        <fieldset class="round">
			<legend>Documents submitted to Provost:</legend>
				<table  class="profile">
					<th>Name</th>
					<th>Location</th>
					<th>Type</th>
					<% @newhiredocuments.each do |d| %>
		    			<tr>
			    			<td><%=  d.name %></td>  
		 					<td><%=  d.location %></td>  
		 					<td>
		 						<%= d.newhiredoctype.name %>
	 						
		 					</td> 
		 				</tr>
		 			<% end %>	
					</table>
				</fieldset>
	    </div> 

	    <div class="coursework">	        
	        <fieldset class="round">
			<legend>Instructor Credentialed to Teach Based On:</legend>
				<table  class="profile">
					<th>Reason</th>
					<th>Explanation</th>
					<% @newhirecredentials.each do |c| %>
		    			<tr>
			    			<td><%= c.qualificationreason.name %></td>  
		 					<td><%=  c.qualification_explanation %></td> 
		 				</tr>
		 			<% end %>	
					</table>
				</fieldset>
	    </div> 


	    <div class="comments">	        
	        <fieldset class="round">
			<legend>Relevant Coursework:</legend>
				<table  class="profile">
					<th>Course ID</th>
					<th>Course Name</th>
					<th>Year Taken</th>
					<th>Institution</th>
					<th>Credits</th>
					<% @newhire_credits_added.each do |cr| %>
		    			<tr>
			    			<td><%=  cr.course_name %></td>  
		 					<td><%=  cr.course_description %></td>  
		 					<td><%=  cr.course_year %></td> 
		 					<td><%=  cr.newhireinstitution.name %></td>
		 					<td><%=  cr.course_credits %></td>
		 				</tr>
		 			<% end %>	
					</table>
				</fieldset>
	    </div> 

	    <div class="coursework">	        
	        <fieldset class="round">
			<legend>Additional Comments:</legend>
				<table  class="profile">
					<th>Comment</th>
					<% @newhire_comments_added.each do |cm| %>
						<tr>
							<td><%= cm.comment %></td>
						</tr>
					<% end %>
				</table>
			</fieldset>
	    </div> 
	     
	    <div>
		
	</div>


</div>

	

