<%= form_for @newhire do |f| %>
	<div class="info round">
		
		<fieldset class="round">
			<legend>Instructor Name:</legend>
		<p>
			<strong>Firstname:</strong> <%= text_field_tag 'first_name'%>
		</p>
		<p>
			<strong>Middle name:</strong> <%= text_field_tag 'middle_name'%>
		</p>
		<p>
			<strong>Last name:</strong> <%= text_field_tag 'last_name'%>
		</p>
	</div>
	<%= f.submit "Save & Continue" %>
<% end %>