<div id="wrapper">
	<div id="middle">
		<div id="container">

			<div class="content">
					<fieldset class="round">
						<h4>New Hire Name:</h4>
							<table class="profile no-zebra no-hover">
									<%= form_for @newhire, :url => "/newhires/savename" do |f| %>
									<tr>
										<td width="10%"><strong>First:</strong></td>
										<td><%= text_field_tag 'first_name'%></td>
									</tr>

									<tr>
										<td><strong>Middle:</strong></td>
										<td><%= text_field_tag 'middle_name'%></td>
									</tr>

									<tr>
										<td><strong>Last:</strong> </td>
										<td><%= text_field_tag 'last_name'%></td>
									</tr>
									<tr>
										<td colspan="2"><%= f.submit "Save & Continue" , :class => 'btn btn-small btn-primary' %></td>
									</tr>
								<% end %>
							</table>
								
							
					</fieldset>
			</div>
		</div><!-- #container -->
	</div><!-- #middle -->
</div><!-- #wrapper -->
	
