
	<div id="wrapper">
	<div id="middle">
		<div id="container">

			<div class="content">
					<fieldset class="round">
						<legend>Review Notification Message:</legend>
							<table class="no-zebra no-hover">
								<%= form_for @message, :url => '/newhires/send_review_msg' do |m| %>

								<%= hidden_field_tag :newhire_id, params[:newhire_id] %>
								<%= hidden_field_tag :course_id, params[:course_id] %>

								<tr>
									<td width="10%"><strong>Message:</strong></td>
									<td><%= m.text_area :body %></td>
								</tr>

								

							</table>
								<%= m.submit "Send Notification" %>
							<% end %>
					</fieldset>
			</div>
		</div><!-- #container -->
	</div><!-- #middle -->
</div><!-- #wrapper -->
	