<fieldset class="round">
          <legend>Signoff:</legend>  
            <table class="profile no-zebra no-hover">
             <%= form_for @newhiresignoff, :url => '/newhires/save_signoff' do |f| %>
                <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
                <%= hidden_field_tag 'course_id', params[:course_id] %>

                
                <tr>
                  <td>
                 
                 <!--TO DO: This should only appear for mwalsh8 -->
                 <% if current_user.name == "mwalsh8" || current_user.name == "ihartstein" %>  
                  <%= check_box_tag(:final_approval) %> Final Approval <br><br>
                 <% end %>

                 <%= f.radio_button :signed_off , "1"%> 
                
                 
                   <% if current_user.group.name == "chair" %>          
                      Signoff and send to Dean
                    <% end %>
                    <% if current_user.group.name == "dean" %>          
                      Signoff and send to Provost
                    <% end %>
                    <% if current_user.group.name == "admin" %>          
                      <% if current_user.name == 'kwrigh59' %>
                        Signoff and send to Review Team
                      <% else %>
                        Signoff and notify
                      <% end %>
                    <% end %>
                 
                  <br>

                  <%= f.radio_button :signed_off , "0" %> 
                
                  <% if current_user.group.name == "chair" %>          
                      Return to Department for corrections
                  <% end %>
                  <% if current_user.group.name == "dean" %>          
                      Return to Department Chair for corrections
                  <% end %>
                  <% if current_user.group.name == "admin" %>       

                     <% if current_user.name = 'mwalsh8' %>
                        Return for corrections
                      <% else %>
                        Return to Dean for corrections
                      <% end %>
                  <% end %>             
                  
                </td>
                </tr>         
                <tr>
                  <td>
                    <div id="notify">
                      Send to:<br>
                      <%#= select('send_to', 'notify',
                          options_for_select(@send_to_notify.collect{ |u| [u.displayname, u.id]}), {:include_blank => 'None'})%>
                      <%= select('send_to', 'notify',
                          options_for_select(@send_to_notify.collect{ |u| [u.displayname, u.id]}))%>
                    </div>

                    <div id="corrections" style="display:none">
                      Send to:<br>
                      <%#= select('send_to', 'correct',
                          options_for_select(@send_to_correct.collect{ |u| [u.displayname, u.id]}), {:include_blank => 'None'})%>
                      <%= select('send_to', 'correct',
                          options_for_select(@send_to_correct.collect{ |u| [u.displayname, u.id]}))%>
                       
                    </div>

                  </td>
                </tr>
                <tr>
                  <td><strong> Comments: </strong></td>
                </tr>
                <tr>
                  <td><%= f.text_area :comment, :class => 'ckeditor' %><br/></td>
                </tr>
                <tr>
                  <td><%= f.submit  "Submit", :id => "Submit" ,:class => 'btn btn-small btn-primary' %></td>
                </tr>


              </table>
                
                
              <% end %>    
            </fieldset>



<script type="text/javascript">
jQuery(document).ready(function(){
      
       $("#notify").hide();
       $("#corrections").hide();

         jQuery('#newhiresignoff_signed_off_1').change(function(){
              $("#corrections").hide();
              $("#notify").show();
        });

         jQuery('#newhiresignoff_signed_off_0').change(function(){
               $("#notify").hide();
               $("#corrections").show();
        });
});
</script>