<fieldset class="round">
          <h4>
           Signoff:
          </h4>  
            <table class="table table-condensed">
             <%= form_for @newhiresignoff, :url => '/newhires/approve_course' do |f| %>
                <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
                <%= hidden_field_tag 'course_id', params[:course_id] %>

              
                <!-- TO DO: add a status value to DB and change these fieldnames -->
                 <%= f.radio_button :signed_off , "1"%> Signoff and notify 
                  
                  <% if session[:group_name] == "chair" %>          
                   Dean's office
                  <% end %>
                  <% if session[:group_name] == "dean" %>          
                   Provost's office
                  <% end %>
                  <% if session[:group_name] == "admin" %>          
                   Provost's office
                  <% end %>

                  <br>

                  <%= f.radio_button :signed_off , "0" %> Return to
                  <% if session[:group_name] == "chair" %>          
                   Department
                  <% end %>
                  <% if session[:group_name] == "dean" %>          
                   Department Chair
                  <% end %>
                  <% if session[:group_name] == "admin" %>          
                   Dean's office
                  <% end %>

                  for corrections
            
                <br/>
              
             
                <tr>
                  <td><strong> Comments: </strong></td>
                </tr>
                <tr>
                  <td><%= f.text_area :comment, :class => 'ckeditor' %><br/></td>
                </tr>
                <tr>
                  <td><%= f.submit  "Submit", :id => "Submit" %></td>
                </tr>


              </table>
                
                
              <% end %>    
            </fieldset>
