<fieldset class="round">
          <legend>Signoff:</legend>  
            <table class="profile no-zebra no-hover">
             <%= form_for @newhiresignoff, :url => '/newhires/save_signoff' do |f| %>
                <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
                <%= hidden_field_tag 'course_id', params[:course_id] %>

                
                <tr>
                  <td>
                 
                 <!--TO DO: This should only appear for mwalsh8 -->
                 <% if current_user.group.name == "admin" %>  
                  <%= check_box_tag(:final_approval) %> Final Approval <br><br>
                 <% end %>

                 <%= f.radio_button :signed_off , "1"%> Signoff 
                
                 <% if false %> 
                   <% if current_user.group.name == "chair" %>          
                     Dean's office
                    <% end %>
                    <% if current_user.group.name == "dean" %>          
                     Provost's office
                    <% end %>
                    <% if current_user.group.name == "admin" %>          
                     Provost's office
                    <% end %>
                   <% end %>
                  <br>

                  <%= f.radio_button :signed_off , "0" %> Return
                 <% if false %> 
                  <% if current_user.group.name == "chair" %>          
                   Department
                  <% end %>
                  <% if current_user.group.name == "dean" %>          
                   Department Chair
                  <% end %>
                  <% if current_user.group.name == "admin" %>          
                   Dean's office
                  <% end %>
                <% end %>
                  for corrections
                </td>
                </tr>         
                <tr>
                  <td>
                    <div id="notify">
                      Send to:<br>
                      <%= select('send_to', 'notify',
                          options_for_select(@send_to_notify.collect{ |u| [u.displayname, u.id]}), {:include_blank => 'None'})%>
                    </div>

                    <div id="corrections" style="display:none">
                      Send to:<br>
                      <%= select('send_to', 'correct',
                          options_for_select(@send_to_correct.collect{ |u| [u.displayname, u.id]}), {:include_blank => 'None'})%>
                       
                    </div>

                  </td>
                </tr>
                <tr>
                  <td><strong> Comments: </strong></td>
                </tr>
                <tr>
                  <td><%= f.text_area :comment, :class => 'ckeditor' %><br/></td>
                </tr>
                <tr>
                  <td><%= f.submit  "Submit", :id => "Submit" ,:class => 'btn btn-small btn-primary' %></td>
                </tr>


              </table>
                
                
              <% end %>    
            </fieldset>



<script type="text/javascript">
jQuery(document).ready(function(){
    
       $("#notify").hide();
       $("#corrections").hide();

         jQuery('#newhiresignoff_signed_off_1').change(function(){
              $("#corrections").hide();
              $("#notify").show();
        });

         jQuery('#newhiresignoff_signed_off_0').change(function(){
               $("#notify").hide();
               $("#corrections").show();
        });
});
</script>