<fieldset class="round">
          <legend class="heading">Signoff:</legend>  
            <table class="profile no-zebra no-hover">
              <%= form_for @newhiresignoff,  :url => '/newhires/process_signoff' do |f| %>
              <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
              <%= hidden_field_tag 'course_id', params[:course_id] %>

              <% if params.has_key?(:newhirereason_id) %>
                <%= hidden_field_tag  :newhirereason_id, params[:newhirereason_id] %>
              <% end %>

              <tr>
                <td>
                  <%= f.radio_button :signed_off , "1"%> Signoff and notify 
                  
                  <% if session[:group_name] == "chair" %>          
                   Dean's office
                  <% end %>
                  <% if session[:group_name] == "dean" %>          
                   Provost's office
                  <% end %>
                  <% if session[:group_name] == "admin" %>          
                   Provost's office
                  <% end %>

                  <br>

                  <%= f.radio_button :signed_off , "0" %> Return to
                  <% if session[:group_name] == "chair" %>          
                   Department
                  <% end %>
                  <% if session[:group_name] == "dean" %>          
                   Department Chair
                  <% end %>
                  <% if session[:group_name] == "admin" %>          
                   Dean's office
                  <% end %>

                  for corrections
                </td>               
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <strong>Message:</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <%#= f.text_area :comment, :rows=>5, :cols=>20  %>
                  <%= f.text_area :comment, :class => 'ckeditor' %>
                </td>
              </tr>
              <tr>
                <td>
                <%= f.submit  "Submit", :id => "Submit", :disabled => current_user.ro, :class => "btn" %>
                </td>
              </tr>
              <% end %>

            </table>          
        </fieldset>
     