<div align="center">
	<h1>Certification of Credentials and Qualications</h1>
	<h1>Adjuncts and GTAs -- Spring 2013<h1>
</div>

<%= debug params %>

<br>Session Vars:</br>
<%= debug session %>
	

	<div>
		<fieldset class="round">
			<legend>Certification of Credentials & Qualifications</legend>

		
	<%= form_tag("/register", :method => "post") do %>	

	<div class="info round">
		<p>
			<strong>Instructor Name:</strong> <%= text_field_tag 'instructor_name'%>
		</p>
		<strong>Course Prefix and Number:</strong> <%= text_field_tag 'course_name' %>
		<p>
		<strong>Course title:</strong> <%= text_field_tag 'course_title' %>
	    </p>
		<p>
		<strong>Brief Course Description:</strong><br>
				 <%= text_area_tag 'course_description' %>
		<br><br>
			   <p>
				<strong>The following documents have been submitted to the Provost's office:</strong><br>
				 <%= check_box_tag 'official_transcript', 'yes' %> Official Transcript<br>
				 <%= check_box_tag 'evaluation_of_non_us_documents', 'yes' %> Evaluation of non-US documents (if applicable)<br>
				 <%= check_box_tag 'current_curriculum_vita', 'yes' %> Current Curriculum  vita<br>
				 <%= check_box_tag 'course_syllabus', 'yes' %> Course syllabus for every assignment<br>
				 <%= check_box_tag 'signed_offer_letter', 'yes' %> Signed offer letter<br>
				</p>
		<br><br>	
				<p>
				<strong>This instructor is credentialed to teach based on (select one):</strong>
					<% Qualificationreason.all.each do |qr| %>
		    			<br><%= radio_button_tag  'qualificationreason_name', qr.name, @reason.qualificationreason_id == qr.id, {:onclick => "do_inst();"} %>
		 				<%=  qr.name.humanize %>
		  			<% end %>				
				</p>
			<p>
				<%= submit_tag "Submit For Review" %>
			</p>
	
	<% end %>
	
	<br><br>
		<fieldset style="background:#FFEBE0" class="round">
		<legend>Qualification and Comments</legend>	
  						<%#= form_for @reason, :url => '/wizard/process_justification_coursework' do |f| %>
						<%= form_for @reason, :url => '/precredentialing/savecomments' do |f| %>
	 					<%= f.text_area :comments, :placeholder =>  "Additional Comments or other Justification such as Research or Professional Certifications" %> 	
    					<br/>
    					Click <%= f.submit  "Save", :id => "Next_1", :disabled => current_user.ro %> to save this Qualification/Comment
						<% end %>				
	</fieldset>
    <br><br>
		<fieldset style="background:#FFEBE0" class="round">
		<legend>
			Add Course Credit: 
		</legend>
		<%= form_for @credit,  :url => '/wizard/process_justification_coursework'  do |f| %>
			
				<table class="no-zebra no-hover">
					<tr>	
						<th>Course ID (ex: CDA 6031)</th>
						<th>Course Name (ex: Data Mining)</th>
						<th>Course Year (ex: 1995)</th>
						<th>Course Credits (ex: 3)</th>
						<th>Quarter/Semester</th>
						</tr>
					<tr>
						<td><%= f.text_field :course_name, :placeholder =>  "CDA 6031", :class => "text" %></td>
						<td><%= f.text_field :course_description, :placeholder =>  "Data Mining", :class => "text"  %></td>
						<td><%= f.text_field :course_year, :placeholder =>  "1995", :class => "text"  %></td>
						<td><%= f.text_field :course_credits,:placeholder =>  "3", :class => "text"  %></td>
						<td>
							<%= f.radio_button :semester_credits, "true", :checked => @credit.semester_credits == true %> Semester<br/>
							<%= f.radio_button :semester_credits, "false", :checked => @credit.semester_credits == false %> Quarter<br/>
						</td>		
					</tr>
					<tr>
						<td colspan="5">
							<label>Institution: 	</label>
						<%= collection_select(:credit, 
											  :facultycredential_id, 
											   Facultycredential.all.uniq,
										      :id,
										      :qualification_institution) %><br/><br/>
						</td>
					</tr>
					<tr>
			    	<td> 	
			 			Click <%= f.submit 'Add', :id => "Add" , :disabled => current_user.ro %> to save this course.<br/><br/>
			 		</td>
		 		</tr>
				<tr>
					<td>
						<hr>Click <%= f.submit 'Done', :id => "Done", :disabled => current_user.ro %> to complete this credential.
		 			</td>
	 			</tr>
					<tr>
						<td><br/><br/></td>
					</tr>
				</table>
			<% end %>
		</fieldset>
		
		<div>
	
</div>
			
	</fieldset>
</div>