<h1>Listing newhirecredentials</h1>

<table>
  <tr>
    <th>Newhire</th>
    <th>Qualificationreason</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newhirecredentials.each do |newhirecredential| %>
  <tr>
    <td><%= newhirecredential.newhire_id %></td>
    <td><%= newhirecredential.qualificationreason_id %></td>
    <td><%= link_to 'Show', newhirecredential %></td>
    <td><%= link_to 'Edit', edit_newhirecredential_path(newhirecredential) %></td>
    <td><%= link_to 'Destroy', newhirecredential, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br>

<% @qualificationreasons.each do |qr| %>
              <br><%= radio_button_tag  'qualificationreason_name', qr.name, qr.id, {:onclick => "do_inst();"} %>
            <%=  qr.name.humanize %>
            <% end %> 

<br />

<br>

<%= link_to 'New Newhirecredential', new_newhirecredential_path %>
