<div class="container-fluid">
  <div class="row-fluid">
   
      <div class="span3">
         <!--Sidebar content-->
         <%= render 'newhires/instructorinfo_basic' %>
      </div>
      <div class="span9">
        <!--Body content-->
        <%= form_for @newhirecredential do |c| %>

                   <%= hidden_field_tag 'newhire_id', params[:newhire_id] %>
                   <%= hidden_field_tag 'course_id', params[:course_id] %>
          <fieldset class="round">
                  <legend>Instructor Credentials:</legend>
                  <br><strong>The instructor is credentialed to teach:</strong><br>
                  

                              <% @qualificationreasons.each do |qr| %>
                                  <br><%= radio_button_tag  'qualificationreason_id',  qr.id, {:onclick => "do_inst();"}, :class => "radio" %>
                                <%=  qr.name.humanize %>
                              <% end %> 
                        <br />
                        <br />
                        <p>
                        <strong>Explanation of instructor's qualifications:</strong><br>
                             <%= text_area_tag 'qualification_explanation', '', :class => 'ckeditor' %>        

                        </p>
                        
                        <p>
                         <%= c.submit "Save & Continue", :class => 'btn btn-small btn-primary' %>

                        </p>
                          
                               
            </fieldset>
        <% end %>
      </div>
  </div>
</div>