<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :defaults %>
    
    <%= csrf_meta_tag %>
    <script src='https://www.google.com/jsapi'></script>
     <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
     <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/show_flash'%>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) %>
      <%= debug(session) %>
      <!--  if Rails.env.development? -->
    </div>
  </body>
</html>
